/*STYLE RESET START*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  color: #fff;
  font: 400 16px "Roboto", sans-serif;
  background-color: #14bef0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

textarea {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
}

label {
  margin: 0;
}

input, button, select {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

.height-helper {
  min-height: 100%;
  overflow: hidden;
}

/*STYLE RESET END*/
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url("../fonts/RobotoCondensed-Bold.eot");
  src: url("../fonts/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.ttf") format("truetype"), url("../fonts/RobotoCondensed-Bold.svg#RobotoCondensed-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 15px;
  max-width: 970px;
  margin: 0 auto;
}

.flex-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.justify-sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-sa {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.flex-d-column-rev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.justify-c {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  display: inline-block;
}

.header {
  background-color: #0e4da1;
  padding: 27px 0;
  position: relative;
  z-index: 20;
}

.header__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__burger {
  display: none;
}

.header__logoMini {
  display: none;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  font-weight: 500;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.nav__link + .nav__link {
  margin-left: 40px;
}

.nav__link:hover, .nav__link.active {
  color: #14bef0;
}

.personal-area__info {
  position: relative;
  z-index: 2;
}

.personal-area__photo {
  margin-right: 7px;
}

.personal-area__text {
  font-weight: 500;
}

.personal-area__text--blue {
  color: #0e4da1;
}

.personal-area__exit-btn {
  position: absolute;
  top: 125%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 12px;
  color: #0e4da1;
  border-bottom: 1px dashed #0e4da1;
}

.personal-area__exit-btn:hover {
  color: #0e4da1;
}

.personal-area__no-entry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.personal-area__entry {
  display: none;
  position: relative;
}

.personal-area__entry::before {
  content: '';
  position: absolute;
  background: url("../img/personal-area-bg.png") no-repeat center/cover;
  top: -27px;
  bottom: -46px;
  left: -20px;
  right: -20px;
}

.personal-area.login .personal-area__entry {
  display: block;
}

.personal-area.login .personal-area__no-entry {
  display: none;
}

.footer {
  background-color: #fff;
  padding: 20px 0 5px;
  margin-top: 40px;
}

.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  color: #14bef0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__nav li {
  position: relative;
}

.footer__nav li::before {
  content: '';
  position: absolute;
  background-color: #f7ca11;
  height: 3px;
  width: 3px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -11px;
}

.footer__nav li:first-child::before {
  display: none;
}

.footer__nav li + li {
  margin-left: 20px;
}

.footer__logo {
  margin-top: 35px;
  text-align: center;
}

.footer__author {
  margin-top: 15px;
  font-size: 11px;
  color: #46248a;
  text-align: center;
}

.footer__author > * + * {
  margin-top: 15px;
}

.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #0e4da1;
  padding: 25px 0 20px;
  text-align: center;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  opacity: 0;
  z-index: -1;
}

.cookies__text {
  margin: 0 auto 10px;
  width: 76%;
  font-size: 14px;
}

.cookies.js-show {
  opacity: 1;
  z-index: 99;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup.js-popup-show {
  z-index: 99999;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__close {
  position: absolute;
  top: 0;
  right: -35px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.popup__wrap {
  background-color: #fff;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  max-width: 360px;
  width: 100%;
  padding: 35px 50px;
  position: relative;
}

.popup__wrap--big {
  max-width: 500px;
}

.popup__check {
  width: 220px;
  margin: 20px auto 0;
  position: relative;
}

.popup__check-photo {
  text-align: center;
}

.popup__check-photo img {
  max-height: 280px;
  border: 5px solid #e6e6e6;
}

.popup__del-photo {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.popup__title {
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  font-size: 28px;
  text-align: center;
  color: #14bef0;
}

.popup__title--min {
  font-size: 21px;
  color: #4a4a4a;
  margin-bottom: 10px;
  margin-top: 40px;
}

.popup__text {
  text-align: center;
  color: #4a4a4a;
}

.popup__text--marginTop {
  margin-top: 30px;
}

#iframe {
  width: 100%;
  min-height: 600px;
}

span div.error {
  color: #ed1846;
  font-size: 11px;
  margin-top: 3px;
}

.body-bg-desktop {
  position: fixed;
  top: 0;
  height: 200vh;
  width: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}

.body-bg-desktop__item {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../img/leaves-left.png") repeat-y top left;
}

.body-bg-desktop__item--right {
  background: url("../img/leaves-right.png") repeat-y top right;
}

body > .select2-container {
  width: auto !important;
}

.select2-container {
  width: 100% !important;
  outline: none;
  z-index: 99999;
}

.select2-container * {
  outline: none;
}

.select2-container .select2-selection {
  height: 51px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #0daad8;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 16px;
  font-family: "Roboto";
  padding: 15px 20px;
  -webkit-border-radius: 0;
          border-radius: 0;
}

.select2-container .select2-selection__rendered {
  padding-left: 0 !important;
}

.select2-container .select2-selection__arrow b {
  display: none;
}

.select2-container .select2-selection__arrow {
  height: 100% !important;
  width: 38px !important;
}

.select2-container .select2-selection__arrow::before {
  border: none;
  background: url("../img/select-arr.svg") no-repeat center/cover;
  width: 15px;
  height: 9px;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.select2-container .select2-dropdown {
  border: 1px solid #0daad8;
  border-top: none;
}

.select2-container .select2-results__option {
  color: #4a4a4a;
}

.checkbox {
  position: relative;
  padding: 7px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: -2;
}

.checkbox__text {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  color: #4a4a4a;
  font-size: 12px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}

.checkbox__text a {
  color: #0e4da1;
}

.checkbox__text::before {
  content: '';
  position: absolute;
  height: 17px;
  width: 17px;
  border: 1px solid #0daad8;
  left: 0;
  top: -4px;
}

.checkbox input:checked + .checkbox__text:after {
  position: absolute;
  content: '';
  background: url("../img/checked.svg") no-repeat center/cover;
  width: 10px;
  height: 9px;
  left: 4px;
  top: 0;
}

.checkbox input:checked ~ .checkbox__text:after {
  position: absolute;
  content: '';
  background: url("../img/checked.svg") no-repeat center/cover;
  width: 10px;
  height: 9px;
  left: 4px;
  top: 0;
}

.tabs {
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
}

.nav-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-tabs li {
  display: inline-block;
  min-width: 160px;
  padding: 20px 10px;
  background-color: #0daad8;
  text-align: center;
  -webkit-border-radius: 25px 25px 0 0;
          border-radius: 25px 25px 0 0;
  font-size: 18px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  cursor: pointer;
}

.nav-tabs li.active {
  background-color: #fff;
  color: #14bef0;
}

.content-tabs-wrap {
  background-color: #fff;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  padding: 60px 80px 40px;
}

.content-tabs {
  display: none;
}

.content-tabs.active {
  display: block;
}

.scrollbar-light > .scroll-element .scroll-bar {
  background: #ed1846;
}

.scrollbar-light > .scroll-element.scroll-y .scroll-bar {
  width: 6px;
}

.scrollbar-light > .scroll-element .scroll-element_size {
  background: #e6e6e6;
}

.scrollbar-light > .scroll-element.scroll-y .scroll-element_outer {
  width: 8px;
}

body {
  position: relative;
}

body.no-scroll {
  overflow: hidden;
}

.body-bg__item {
  display: none;
}

.btn {
  display: inline-block;
  text-align: center;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.btn--def {
  background-color: #ed1846;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  color: #ffffff;
  font-size: 24px;
  min-width: 263px;
  padding: 26px 20px;
}

.btn--def-blue {
  background-color: #14bef0;
}

.btn--double {
  font-size: 20px;
  line-height: 1;
  -webkit-border-radius: 50px;
          border-radius: 50px;
}

.btn--min {
  background-color: #0daad8;
  padding: 7px 20px;
  font-size: 14px;
  color: #ffffff;
  -webkit-border-radius: 16px;
          border-radius: 16px;
}

.btn--medium {
  background-color: #14bef0;
  font-size: 16px;
  color: #ffffff;
  min-width: 263px;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  padding: 15px;
}

.btn--disable {
  background-color: #e6e6e6;
  pointer-events: none;
}

.btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  color: #ffffff;
}

.btn-wrap {
  text-align: center;
  margin-top: 20px;
}

.btn-wrap--bigMargin {
  margin-top: 35px;
}

.main {
  padding-top: 30px;
  padding-bottom: 20px;
}

.form__globalCard {
  width: 48%;
}

.form--popupMargin {
  margin-top: 20px;
}

.form__tips {
  color: #14bef0;
  font-size: 12px;
  margin-bottom: 2px;
}

.form__tips--medium {
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
}

.form__text {
  margin-top: 20px;
  color: #4a4a4a;
  text-align: center;
}

.form__text--minMargin {
  margin-top: 10px;
}

.form__text--noMargin {
  margin: 0;
}

.form__card {
  margin-top: 20px;
}

.form__input {
  position: relative;
}

.form__input .js-pass {
  position: absolute;
  width: 25px;
  height: 15px;
  background: url("../img/password-show.svg") no-repeat center/cover;
  top: 19px;
  right: 10px;
  cursor: pointer;
}

.form__input .search {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  background-color: #ed1846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__input--maxWidth {
  max-width: 240px;
  margin: 0 auto;
}

.form__step {
  color: #14bef0;
  text-align: center;
}

input, textarea {
  border: 1px solid #0daad8;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 16px;
  font-family: "Roboto";
  padding: 15px 20px;
  width: 100%;
}

textarea {
  min-height: 225px;
}

.captcha {
  background-color: #e6e6e6;
  margin: 20px -50px 0;
  padding: 15px 50px 20px;
}

.captcha__wrap {
  margin-top: 15px;
}

.captcha__input {
  max-width: 120px;
  text-align: center;
}

.captcha__send {
  max-width: 120px;
}

.substrate {
  max-width: 780px;
  width: 100%;
  margin: 35px auto 0;
  background-color: #fff;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  padding: 35px 50px 50px;
  position: relative;
}

.substrate--full {
  max-width: 100%;
  padding: 50px;
}

.text {
  text-align: center;
  color: #0e4da1;
}

.text--minMargin {
  margin-top: 10px;
}

.text--big {
  color: #4a4a4a;
  font-size: 16px;
}

.text--max-w {
  max-width: 340px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  text-align: center;
}

.table {
  width: 100%;
  border-spacing: 15px;
  margin-top: 20px;
}

.table--padding {
  border-spacing: 29px;
  margin-top: -29px;
}

thead th {
  text-align: center;
  color: #14bef0;
  font-size: 12px;
}

tbody td {
  text-align: center;
  color: #4a4a4a;
}

tbody td .check-photo {
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 50px;
  overflow: hidden;
  margin: 0 auto;
}

tbody td .check-photo img {
  height: 100%;
  max-width: initial;
}

tbody td .question {
  display: none;
}

tbody td.successful {
  color: #14bef0;
}

tbody td.error {
  color: #ed1846;
  white-space: nowrap;
}

tbody td.error .question {
  margin-left: 5px;
  display: inline-block;
}

tbody td.error .question img {
  width: 16px;
  height: 16px;
  margin-bottom: -3px;
}

.start-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start-section--center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.start-section__logo {
  max-width: 165px;
  width: 100%;
  text-align: center;
}

.start-section__logo + .start-section__logo {
  margin-left: 20px;
}

.home-title {
  text-align: center;
  margin-top: 20px;
}

.home-title__desctop {
  display: inline-block;
}

.home-title__mob {
  display: none;
}

.home-title--noMargin {
  margin-top: 0;
}

.rules {
  margin-top: 35px;
}

.rules .slider-wrap {
  position: relative;
}

.rules__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rules .swiper-button-prev,
.rules .swiper-button-next {
  display: none;
  outline: none;
  width: 22px;
  height: 37px;
  -webkit-background-size: 22px 37px;
          background-size: 22px 37px;
  top: 100px;
}

.rules .swiper-button-prev.swiper-button-disabled,
.rules .swiper-button-next.swiper-button-disabled {
  opacity: 1;
  cursor: pointer;
  pointer-events: visible;
}

.rules .swiper-button-prev {
  background-image: url("../img/rules-arr-left.svg");
  left: -10px;
}

.rules .swiper-button-next {
  background-image: url("../img/rules-arr-right.svg");
  right: -10px;
}

.rules-swiper {
  width: 100%;
  position: relative;
}

.slide-rules {
  text-align: center;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.slide-rules--width {
  width: 25%;
}

.slide-rules__photo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 190px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-rules__title {
  font-family: "Roboto Condensed";
  font-size: 26px;
  text-transform: uppercase;
  margin-top: 10px;
  white-space: nowrap;
}

.slide-rules__title--common {
  margin-left: 100px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.slide-rules__title--common.active {
  margin-left: 90px;
}

.slide-rules__title--mobTitle {
  opacity: 0;
}

.slide-rules__text {
  margin-top: 15px;
  padding: 0 5px;
}

.slide-rules.hov:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.check-notif {
  color: #4a4a4a;
  text-align: center;
  display: none;
}

.check-notif__title {
  font-size: 21px;
  font-weight: 700;
}

.check-notif__desc {
  max-width: 400px;
  margin: 10px auto 0;
}

.check-notif .verification,
.check-notif .successful {
  display: none;
}

.check-notif.successful {
  display: block;
}

.check-notif.successful .successful {
  display: block;
}

.check-notif.verification {
  display: block;
}

.check-notif.verification .verification {
  display: block;
}

.winners__table {
  height: 280px;
  overflow-y: scroll;
  margin-top: 55px;
}

.product .swiper-slide {
  height: auto;
}

.product__swiper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.product__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__photo {
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding: 0 25px;
}

.product__photo img {
  width: 100%;
}

.product__title {
  font-family: "Roboto Condensed";
  color: #14bef0;
  font-size: 21px;
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
}

.product__descrip {
  margin-top: 10px;
  padding: 0 40px;
}

.product__weight {
  margin-top: 20px;
}

.product__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.product .swiper-pagination {
  position: static;
  -webkit-transform: translate(0) !important;
      -ms-transform: translate(0) !important;
          transform: translate(0) !important;
  margin: 50px auto 0;
}

.product .swiper-pagination-bullet {
  background-color: #e6e6e6;
  opacity: 1;
  width: 10px;
  height: 10px;
}

.product .swiper-pagination-bullet-active {
  background-color: #ed1846;
}

.product .swiper-button-prev,
.product .swiper-button-next {
  outline: none;
  width: 82px;
  height: 82px;
  -webkit-background-size: 82px 82px;
          background-size: 82px;
  top: 125px;
}

.product .swiper-button-prev.swiper-button-disabled,
.product .swiper-button-next.swiper-button-disabled {
  opacity: 1;
  cursor: pointer;
  pointer-events: visible;
}

.product .swiper-button-prev {
  background-image: url("../img/product-arr-left.svg");
  left: -20px;
}

.product .swiper-button-next {
  background-image: url("../img/product-arr-right.svg");
  right: -20px;
}

.prize {
  text-align: center;
}

.prize__attempts {
  color: #14bef0;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.prize__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  max-width: 495px;
  margin: 30px auto 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prize .js-prize-photo {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  opacity: 1;
}

.prize .js-prize-photo-500,
.prize .js-prize-photo-200,
.prize .js-prize-photo-smartphone,
.prize .js-prize-photo-no {
  opacity: 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  position: absolute;
}

.prize__card {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5px;
  cursor: pointer;
  width: 19%;
  position: relative;
  overflow: hidden;
}

.prize__card.js-prize-500 .js-prize-photo {
  opacity: 0;
  position: absolute;
}

.prize__card.js-prize-500 .js-prize-photo-500 {
  opacity: 1;
  position: static;
}

.prize__card.js-prize-200 .js-prize-photo {
  opacity: 0;
  position: absolute;
}

.prize__card.js-prize-200 .js-prize-photo-200 {
  opacity: 1;
  position: static;
}

.prize__card.js-prize-smartphone .js-prize-photo {
  opacity: 0;
  position: absolute;
}

.prize__card.js-prize-smartphone .js-prize-photo-smartphone {
  opacity: 1;
  position: static;
}

.prize__card.js-prize-no .js-prize-photo {
  opacity: 0;
  position: absolute;
}

.prize__card.js-prize-no .js-prize-photo-no {
  opacity: 1;
  position: static;
}

.prize__card--width {
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-prize {
  display: none;
}

.how-prize.active {
  display: block;
}

.scroll-element.scroll-x.scroll-scrollx_visible.scroll-scrolly_visible {
  display: none;
}

@media only screen and (max-width: 991px) {
  .nav__link {
    font-size: 15px;
  }
  .nav__link + .nav__link {
    margin-left: 25px;
  }
  .header {
    min-height: 60px;
    height: 0;
    padding: 10px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .personal-area__entry::before {
    left: -10px;
    right: -10px;
  }
  .slide-rules__photo {
    padding: 0 15px;
  }
  .slide-rules__title {
    font-size: 18px;
  }
  .slide-rules__title--mobTitle {
    opacity: 1;
  }
  .slide-rules__title--common {
    margin-left: 0;
  }
  .slide-rules__title--common.active {
    margin-left: 0;
  }
  .slide-rules__text {
    font-size: 14px;
  }
  .product__photo {
    padding: 0 5px;
  }
  .product__title {
    margin-top: 20px;
    font-size: 19px;
  }
  .product__descrip {
    padding: 0 15px;
  }
  .product .swiper-button-prev,
  .product .swiper-button-next {
    width: 42px;
    height: 42px;
    -webkit-background-size: 42px 42px;
            background-size: 42px;
    top: 147px;
  }
  .product .swiper-button-prev {
    left: -10px;
  }
  .product .swiper-button-next {
    right: -10px;
  }
  .winners__table table {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .body-bg-desktop {
    display: none;
  }
  .winners__table {
    margin-top: 35px;
  }
  .winners__table table {
    font-size: 12px;
  }
  .winners .table--padding {
    border-spacing: 4px;
    margin-top: -4px;
  }
  .start-section {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .start-section__logo {
    display: none;
  }
  .nav {
    position: absolute;
    right: 0;
    background-color: #00357c;
    padding: 35px 60px 35px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    top: 100%;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }
  .nav__link {
    font-size: 17px;
  }
  .nav__link + .nav__link {
    margin-left: 0;
    margin-top: 30px;
  }
  .nav.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .header {
    position: relative;
  }
  .header__burger {
    position: relative;
    display: block;
    cursor: pointer;
  }
  .header__burger::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 60px;
    background-color: #00357c;
    z-index: -1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header__burger img {
    position: relative;
  }
  .header__burger .js-show {
    opacity: 1;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    position: static;
  }
  .header__burger .js-exit {
    position: absolute;
    opacity: 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    top: 0;
  }
  .header__burger.active .js-show {
    opacity: 0;
    position: absolute;
    top: 0;
  }
  .header__burger.active .js-exit {
    top: 0;
    position: static;
    opacity: 1;
  }
  .header__logoMini {
    display: block;
  }
  .header__logoMini + .header__logoMini {
    margin-left: 15px;
  }
  .personal-area {
    margin-right: 50px;
    margin-left: auto;
  }
  .personal-area__text {
    display: none;
  }
  .personal-area__exit-btn {
    display: none;
  }
  .personal-area__photo {
    margin-right: 0;
  }
  .personal-area__entry::before {
    left: -24px;
    right: -24px;
    top: -21px;
    bottom: -30px;
  }
  .js-hover {
    -webkit-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
            transform: scale(1) !important;
  }
  .rules-swiper {
    overflow: hidden;
  }
  .rules__wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .rules .swiper-button-prev,
  .rules .swiper-button-next {
    display: block;
  }
  .slide-rules--width {
    width: 49%;
    margin-top: 20px;
  }
  .slide-rules__photo {
    padding: 0;
  }
  .slide-rules__title {
    font-size: 22px;
  }
  .slide-rules__text {
    font-size: 16px;
  }
  .slide-rules.hov:hover {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  body::after, body::before {
    display: none;
  }
  .body-bg__item {
    display: block;
    position: absolute;
    z-index: -1;
  }
  .body-bg__item--1 {
    left: 0;
  }
  .body-bg__item--2 {
    left: 0;
  }
  .body-bg__item--3 {
    left: 10vw;
  }
  .body-bg__item--4 {
    left: 30vw;
  }
  .body-bg__item--5 {
    right: 30vw;
  }
  .body-bg__item--6 {
    right: 0;
  }
  .body-bg__item--7 {
    right: 0;
  }
  .body-bg__item--8 {
    right: 0;
  }
  .body-bg__item--9 {
    right: 0;
  }
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__nav li + li {
    margin-left: 0;
    margin-top: 15px;
  }
  .footer__nav li::before {
    top: -8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .product__photo {
    height: 250px;
  }
  .product__descrip {
    padding: 0 5px;
  }
  .substrate, .substrate--full {
    padding: 35px 20px 40px;
  }
  .btn--def {
    min-width: 250px;
  }
  .content-tabs-wrap {
    padding: 35px 20px 40px;
  }
  .personal-info {
    margin-top: 40px;
  }
  .personal-info .table {
    font-size: 14px;
    border-spacing: 8px;
  }
  .popup {
    padding: 0 10px;
  }
  .popup__wrap {
    padding: 40px 20px;
  }
  .popup__close {
    top: -33px;
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .captcha {
    margin: 20px -20px 0;
    padding: 15px 20px 20px;
  }
  .cookies__text {
    width: 100%;
  }
}

@media only screen and (max-width: 479px) {
  .home-title__desctop {
    display: none;
  }
  .home-title__mob {
    display: inline-block;
  }
  .slide-rules--width {
    width: 100%;
    margin-top: 0;
  }
  .slide-rules--width + .slide-rules--width {
    margin-top: 50px;
  }
  .slide-rules__title {
    font-size: 24px;
  }
  .slide-rules__text {
    font-size: 16px;
  }
  .rules .swiper-button-prev {
    left: 0;
  }
  .rules .swiper-button-next {
    right: 0;
  }
  .rules .btn-wrap {
    margin-top: 50px;
  }
  .product .swiper-pagination {
    display: none;
  }
  .product__photo {
    height: 200px;
    padding: 0 25px;
  }
  .product__photo img {
    height: 100%;
    max-width: initial;
  }
  .product__descrip {
    padding: 0 15px;
  }
  .title {
    font-size: 28px;
  }
  .winners__table {
    height: 405px;
  }
  .winners .form__card {
    margin-top: 0;
  }
  .winners .table tr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
  .winners .table tr + tr {
    margin-top: 35px;
  }
  .winners .table .win-name {
    font-size: 21px;
  }
  .winners .table .win-prize {
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    max-width: 86px;
  }
  .form {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .form__globalCard {
    width: 100%;
  }
  .feedback .btn {
    font-size: 16px;
  }
  .prize__card {
    width: 32%;
  }
  .prize__card img {
    width: 100%;
  }
  .personal-info .table {
    width: auto;
    margin: 20px auto 0;
  }
  .personal-info .table thead {
    display: none;
  }
  .personal-info .table tr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
  .personal-info .table tr + tr {
    margin-top: 45px;
  }
  .personal-info .table tr td {
    margin-left: 80px;
  }
  .personal-info .table tr td:last-child {
    font-size: 16px;
  }
  .personal-info .table .personal-num {
    font-size: 21px;
  }
  .personal-info .table .personal-photo-check {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
  }
  .nav-tabs li {
    min-width: 120px;
  }
}

@media only screen and (max-height: 767px) {
  .popup {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow-y: scroll;
  }
  .popup__wrap {
    margin-top: 80px;
    margin-bottom: 20px;
  }
}
