<header class="header">
    <div class="container">
        <div class="header__wrap">
            <img class="header__logoMini" src="img/barni-logo-mini.png" alt="">
            <img class="header__logoMini" src="img/oreo-logo-mini.png" alt="">
            <nav class="nav">
                <a class="nav__link" href="index.html">Главная</a> <!-- Active link - .active -->
                <a class="nav__link" href="product.html">Продукт</a>
                <a class="nav__link" href="winners.html">Победители</a>
                <a class="nav__link" href="rules.html">Правила и Призы</a>
                <a class="nav__link" href="feedback.html">Обратная связь</a>
            </nav>
            <div class="personal-area"> <!-- Для залогиненого юзера добавить класс - .login -->
                <div class="personal-area__no-entry js-popup-button" data-popupShow="entrance">
                    <div class="personal-area__photo">
                        <img src="img/personal-area.svg" alt="">
                    </div>
                    <div class="personal-area__text">
                        <span>Личный кабинет</span>
                    </div>
                </div>
                <div class="personal-area__entry">
                    <div class="personal-area__info flex-cont align-center">
                        <div class="personal-area__photo">
                            <img src="img/personal-area-blue.svg" alt="">
                        </div>
                        <div class="personal-area__text personal-area__text--blue">
                            <span>Аделаида Николаева</span>
                        </div>
                    </div>
                    <a href="#" class="personal-area__exit-btn">Выйти</a>
                </div>
            </div>
            <div class="header__burger">
                <img class="js-show" src="img/mob_burger.svg" alt="">
                <img class="js-exit" src="img/mob_burger_exit.svg" alt="">
            </div>
        </div>
    </div>
</header>