<!-- Cookies -->
<div class="cookies">
    <div class="container">
        <div class="cookies__text">
            <p>Мы используем технологию «cookies», чтобы упростить навигацию на нашем сайте. Чтобы принять политику
                “сookies” нажимите кнопку ниже или продолжите навигацию по сайту. Чтобы узнать больше о том, как мы
                используем “сookies”, <a href="#">нажмите здесь</a></p>
        </div>
        <a href="#" class="btn btn--min">Принять</a>
    </div>
</div>

<!-- Popup -->
<div class="popup entrance">
    <div class="popup__wrap">
        <img src="img/close-popup.svg" alt="" class="popup__close js-close-popup">
        <div class="popup__title">
            <span>Войти на сайт</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Номер мобильного телефона</span>
                    </div>
                    <div class="form__input">
                        <input type="tel" name="phone">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Пароль</span>
                    </div>
                    <div class="form__input">
                        <i class="js-pass"></i>
                        <input type="password" name="password">
                    </div>
                </div>
                <div class="text text--minMargin">
                    <a href="#">Забыл пароль?</a>
                </div>
                <div class="btn-wrap btn-wrap--bigMargin">
                    <button type="submit" class="btn btn--def">Войти</button>
                </div>
                <div class="form__text">
                    <p>Впервые на сайте?</p>
                    <div class="text">
                        <a href="#" class="js-popup-button" data-popupShow="reg-step-1">Регистрируйся!</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> <!--Актиный попап - .js-popup-show-->

<div class="popup reg-step-1">
    <div class="popup__wrap">
        <img src="img/close-popup.svg" alt="" class="popup__close js-close-popup">
        <div class="popup__title">
            <span>Регистрация</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__step">
                    <span>Шаг 1 из 3</span>
                </div>
                <div class="form__text form__text--minMargin ">
                    <p>Заполни все поля формы регистрации</p>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Имя и фамилия</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="name" value="Анна Васильева">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Номер мобильного телефона</span>
                    </div>
                    <div class="form__input">
                        <input type="tel" name="phone">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Адрес электронной почты</span>
                    </div>
                    <div class="form__input">
                        <input type="email" name="email">
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Город</span>
                    </div>
                    <div class="form__input">
                        <select>
                            <option>Санкт-Петербург</option>
                            <option>Москва</option>
                            <option>Харьков</option>
                            <option>Санкт-Петербург</option>
                            <option>Москва</option>
                            <option>Харьков</option>
                            <option>Санкт-Петербург</option>
                            <option>Москва</option>
                            <option>Харьков</option>
                            <option>Санкт-Петербург</option>
                            <option>Москва</option>
                            <option>Харьков</option>
                        </select>
                    </div>
                </div>
                <div class="btn-wrap btn-wrap--bigMargin">
                    <button type="submit" class="btn btn--def">Далее</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup reg-step-2">
    <div class="popup__wrap">
        <img src="img/close-popup.svg" alt="" class="popup__close js-close-popup">
        <div class="popup__title">
            <span>Регистрация</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__step">
                    <span>Шаг 2 из 3</span>
                </div>
                <div class="form__text form__text--minMargin ">
                    <p>Придумай пароль</p>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Пароль</span>
                    </div>
                    <div class="form__input">
                        <i class="js-pass"></i>
                        <input type="password" name="password" required>
                    </div>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Повторите пароль</span>
                    </div>
                    <div class="form__input">
                        <i class="js-pass"></i>
                        <input type="password" required>
                    </div>
                </div>
                <div class="form__card">
                    <label class="checkbox">
                        <input type="checkbox" name="rules" required/>
                        <div class="checkbox__text">Я согласен c <a href="#">Правилами акции</a></div>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="personalAgreement" required/>
                        <div class="checkbox__text">Я согласен на обработку моих персональных данных</div>
                    </label>
                </div>
                <div class="captcha">
                    <div class="form__text form__text--noMargin">
                        <p>Введи символы с картинки:</p>
                    </div>
                    <div class="captcha__wrap flex-cont align-center justify-sb">
                        <div class="captcha__img">
                            <img src="img/captcha.jpg" alt="">
                        </div>
                        <img src="img/arr-captcha.png" alt="">
                        <div class="captcha__send">
                            <input class="captcha__input" type="text" name="captcha" required>
                        </div>
                    </div>
                </div>
                <div class="btn-wrap btn-wrap--bigMargin">
                    <button type="submit" class="btn btn--def">Далее</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup reg-step-3">
    <div class="popup__wrap">
        <img src="img/close-popup.svg" alt="" class="popup__close js-close-popup">
        <div class="popup__title">
            <span>Регистрация</span>
        </div>
        <div class="form form--popupMargin">
            <form>
                <div class="form__step">
                    <span>Шаг 3 из 3</span>
                </div>
                <div class="form__text form__text--minMargin ">
                    <p>Введи код, который мы отправили на твой телефон</p>
                </div>
                <div class="form__card">
                    <div class="form__tips">
                        <span>Код из СМС</span>
                    </div>
                    <div class="form__input">
                        <input type="text" name="password">
                    </div>
                </div>
                <div class="btn-wrap btn-wrap--bigMargin">
                    <button class="btn btn--def">Завершить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup check-moderation">
    <div class="popup__wrap">
        <img src="img/close-popup.svg" alt="" class="popup__close js-close-popup">
        <div class="popup__title">
            <span>Спасибо!</span>
        </div>
        <div class="popup__text popup__text--marginTop">
            <span>Спасибо, твой чек отправлен на модерацию.</span>
        </div>
        <div class="popup__text popup__text--marginTop">
            <span>Статус модерации можно посмотреть </span>
            <a href="#" class="text">в Личном кабинете.</a>
        </div>
        <div class="btn-wrap">
            <button type="submit" class="btn btn--def">Понятно</button>
        </div>
    </div>
</div>

<div class="popup check-successful">
    <div class="popup__wrap">
        <img src="img/close-popup.svg" alt="" class="popup__close js-close-popup">
        <div class="popup__title">
            <span>найди приз!</span>
        </div>
        <div class="popup__text popup__text--marginTop">
            <span>Ура, с твоим чеком все отлично!</span>
        </div>
        <div class="popup__text popup__text--marginTop">
            <span>Теперь ты можешь принять участие в розыгрыше!</span>
        </div>
        <div class="btn-wrap">
            <button type="submit" class="btn btn--def">Найти приз</button>
        </div>
    </div>
</div>

<div class="popup check-download">
    <div class="popup__wrap popup__wrap--big">
        <img src="img/close-popup.svg" alt="" class="popup__close js-close-popup">
        <iframe id="iframe"
                src="https://tsenoanalizator.ru/receipt_frame/8caf9cdf-a333-df44-dfb0-970ca4f6208f/1189/ff9c518da59c421f45c510734d80bec3?style=https%3a%2f%2ftest.airweb.studio%2fbarni%2fcss%2fiframe.css"
                class="iframe"
                frameborder="0"
                scrolling="yes">
        </iframe>
        <!--<div class="popup__title">-->
        <!--<span>Загрузить чек</span>-->
        <!--</div>-->
        <!--<div class="popup__text popup__text&#45;&#45;marginTop">-->
        <!--<span>Нажми на кнопку «Загрузить чек» и сделай фото чека. Если чек длинный, сделай-->
        <!--несколько последовательных фото. </span>-->
        <!--</div>-->
        <!--<div class="popup__text popup__text&#45;&#45;marginTop">-->
        <!--<span>Если на чеке есть QR-код, сделай его фото отдельным кадром с равномерным хорошим освещением.-->
        <!--Если фото окажется плохого качества, к сожалению, мы не сможем принять чек.</span>-->
        <!--</div>-->
        <!--<div class="popup__text popup__text&#45;&#45;marginTop">-->
        <!--<span>Ниже пример удачной фотографии чека, который мы сможем принять для проверки:</span>-->
        <!--</div>-->
        <!--<div class="popup__check-photo">-->
        <!--<img src="img/check-exp.jpg" alt="">-->
        <!--</div>-->
        <!--<div class="btn-wrap">-->
        <!--<button type="submit" class="btn btn&#45;&#45;def">Загрузить чек</button>-->
        <!--</div>-->
    </div>
</div>

<!--<div class="popup check-your">-->
<!--<div class="popup__wrap popup__wrap&#45;&#45;big">-->
<!--<img src="img/close-popup.svg" alt="" class="popup__close js-close-popup">-->
<!--<div class="popup__title">-->
<!--<span>Твой чек</span>-->
<!--</div>-->
<!--<div class="popup__check">-->
<!--<div class="popup__del-photo">-->
<!--<img src="img/check-del.svg" alt="">-->
<!--</div>-->
<!--<img class="popup__check-photo" src="img/check-exp.jpg" alt="">-->
<!--</div>-->
<!--<div class="btn-wrap">-->
<!--<button type="submit" class="btn btn&#45;&#45;medium">Добавить еще одну часть</button>-->
<!--</div>-->
<!--<div class="btn-wrap">-->
<!--<button type="submit" class="btn btn&#45;&#45;def btn&#45;&#45;double">Отправить <br>на модерацию</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="popup your-prize">
    <div class="popup__wrap">
        <img src="img/close-popup.svg" alt="" class="popup__close js-close-popup">
        <div class="prize">
            <div class="prize__card prize__card--width">
                <img class="js-prize-photo" src="img/oreo-card.png" alt="">
                <img class="js-prize-photo-500" src="img/prize500-card.png" alt="">
                <img class="js-prize-photo-200" src="img/prize-200.png" alt="">
                <img class="js-prize-photo-smartphone" src="img/prize-smartphone.png" alt="">
                <img class="js-prize-photo-no" src="img/nooo-card.png" alt="">
            </div>
        </div>
        <div class="how-prize">
            <div class="popup__title popup__title--min">
                <span>Поздравляем, приз твой!</span>
            </div>
            <div class="popup__text">
                <p>
                    Мы свяжемся с тобой в ближайшее время и уточним детали по доставке приза.
                </p>
            </div>
            <div class="btn-wrap btn-wrap--bigMargin">
                <button type="submit" class="btn btn--def">Мои призы</button>
            </div>
        </div>
        <div class="how-prize active">
            <div class="popup__title popup__title--min">
                <span>Увы, ты ничего не нашел</span>
            </div>
            <div class="popup__text">
                <p>
                    Загружай чеки и участвуй в розыгрыше каждый день, у тебя еще есть шанс!
                </p>
            </div>
            <div class="btn-wrap btn-wrap--bigMargin">
                <button type="submit" class="btn btn--def">Мои чеки</button>
            </div>
        </div>
    </div>
</div>

<!-- Body Bg  Desktop-->
<div class="body-bg-desktop">
    <div class="body-bg-desktop__item"></div>
    <div class="body-bg-desktop__item body-bg-desktop__item--right"></div>
</div>

<!-- Body Bg -->
<div class="body-bg">
    <img class="body-bg__item body-bg__item--1" src="img/bg-mob-1.png" alt="">
    <img class="body-bg__item body-bg__item--2" src="img/bg-mob-2.png" alt="">
    <img class="body-bg__item body-bg__item--3" src="img/bg-mob-3.png" alt="">
    <img class="body-bg__item body-bg__item--4" src="img/bg-mob-4.png" alt="">
    <img class="body-bg__item body-bg__item--5" src="img/bg-mob-5.png" alt="">
    <img class="body-bg__item body-bg__item--6" src="img/bg-mob-6.png" alt="">
    <img class="body-bg__item body-bg__item--7" src="img/bg-mob-7.png" alt="">
    <img class="body-bg__item body-bg__item--8" src="img/bg-mob-8.png" alt="">
    <img class="body-bg__item body-bg__item--9" src="img/bg-mob-9.png" alt="">
</div>