<!--Scripts-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/library.min.js"></script>
<script src="js/app.js"></script>