// Body BG -----------------
body {
  position: relative;

  &.no-scroll {
    overflow: hidden;
  }
}

.body-bg {

  &__item {
    display: none;
  }
}

// Button ---------------------
.btn {
  display: inline-block;
  text-align: center;
  transition: all .2s linear;

  &--def {
    background-color: $btnDefBg;
    border-radius: 40px;
    color: #ffffff;
    font-size: 24px;
    min-width: 263px;
    padding: 26px 20px;

    &-blue {
      background-color: $btnDefBlueBg;
    }
  }

  &--double {
    font-size: 20px;
    line-height: 1;
    border-radius: 50px;
  }

  &--min {
    background-color: $btnMinBg;
    padding: 7px 20px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 16px;
  }

  &--medium {
    background-color: #14bef0;
    font-size: 16px;
    color: #ffffff;
    min-width: 263px;
    border-radius: 40px;
    padding: 15px;
  }

  &--disable {
    background-color: #e6e6e6;
    pointer-events: none;
  }

  &:hover {
    transform: scale(1.1);
    color: #ffffff;
  }
}

.btn-wrap {
  text-align: center;
  margin-top: 20px;

  &--bigMargin {
    margin-top: 35px;
  }
}

// Main ------------------------
.main {
  padding-top: 30px;
  padding-bottom: 20px;
}

// Form ---------------------
.form {

  &__globalCard {
    width: 48%;
  }

  &--popupMargin {
    margin-top: 20px;
  }

  &__tips {
    color: $mainColor;
    font-size: 12px;
    margin-bottom: 2px;

    &--medium {
      font-size: 16px;
      text-align: center;
      margin-bottom: 5px;
    }
  }

  &__text {
    margin-top: 20px;
    color: #4a4a4a;
    text-align: center;

    &--minMargin {
      margin-top: 10px;
    }

    &--noMargin {
      margin: 0;
    }
  }

  &__card {
    margin-top: 20px;
  }

  &__input {
    position: relative;

    .js-pass {
      position: absolute;
      width: 25px;
      height: 15px;
      background: url("../img/password-show.svg") no-repeat center / cover;
      top: 19px;
      right: 10px;
      cursor: pointer;
    }

    .search {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50px;
      background-color: #ed1846;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &--maxWidth {
      max-width: 240px;
      margin: 0 auto;
    }
  }

  &__step {
    color: $mainColor;
    text-align: center;
  }
}

input, textarea {
  border: 1px solid #0daad8;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 16px;
  font-family: $font;
  padding: 15px 20px;
  width: 100%;
}

textarea {
  min-height: 225px;
}

// Captcha -----------------
.captcha {
  background-color: #e6e6e6;
  margin: 20px -50px 0;
  padding: 15px 50px 20px;

  &__wrap {
    margin-top: 15px;
  }

  &__input {
    max-width: 120px;
    text-align: center;
  }

  &__send {
    max-width: 120px;
  }
}

// Substrate ----------------
.substrate {
  max-width: 780px;
  width: 100%;
  margin: 35px auto 0;
  background-color: #fff;
  border-radius: 25px;
  padding: 35px 50px 50px;
  position: relative;

  &--full {
    max-width: 100%;
    padding: 50px;
  }
}

// Text ---------------------
.text {
  text-align: center;
  color: #0e4da1;

  &--minMargin {
    margin-top: 10px;
  }

  &--big {
    color: $grayColor;
    font-size: 16px;
  }

  &--max-w {
    max-width: 340px;
    margin: 0 auto;
  }
}

// Title ----------------------
.title {
  font-size: 36px;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  text-align: center;
}

// Table ----------------------
.table {
  width: 100%;
  border-spacing: 15px;
  margin-top: 20px;

  &--padding {
    border-spacing: 29px;
    margin-top: -29px;
  }
}

thead th {
  text-align: center;
  color: $mainColor;
  font-size: 12px;
}

tbody td {
  text-align: center;
  color: #4a4a4a;

  .check-photo {
    height: 50px;
    border-radius: 50%;
    width: 50px;
    overflow: hidden;
    margin: 0 auto;

    img {
      height: 100%;
      max-width: initial;
    }
  }

  .question {
    display: none;
  }

  &.successful {
    color: $mainColor;
  }

  &.error {
    color: #ed1846;
    white-space: nowrap;

    .question {
      margin-left: 5px;
      display: inline-block;

      img {
        width: 16px;
        height: 16px;
        margin-bottom: -3px;
      }
    }
  }
}

// Start Section ----------------
.start-section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--center {
    justify-content: center;
  }

  &__logo {
    max-width: 165px;
    width: 100%;
    text-align: center;

    & + .start-section__logo {
      margin-left: 20px;
    }
  }
}

// Home Title -------------------
.home-title {
  text-align: center;
  margin-top: 20px;

  &__desctop {
    display: inline-block;
  }

  &__mob {
    display: none;
  }

  &--noMargin {
    margin-top: 0;
  }
}

// Rules -----------------
.rules {
  margin-top: 35px;

  .slider-wrap {
    position: relative;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
    outline: none;
    width: 22px;
    height: 37px;
    background-size: 22px 37px;
    top: 100px;

    &.swiper-button-disabled {
      opacity: 1;
      cursor: pointer;
      pointer-events: visible;
    }
  }

  .swiper-button-prev {
    background-image: url("../img/rules-arr-left.svg");
    left: -10px;
  }

  .swiper-button-next {
    background-image: url("../img/rules-arr-right.svg");
    right: -10px;
  }
}

.rules-swiper {
  width: 100%;
  position: relative;
}

// Default Rules Slide ----------
.slide-rules {
  text-align: center;
  transition: all .2s linear;

  &--width {
    width: 25%;
  }

  &__photo {
    display: flex;
    height: 190px;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-family: "Roboto Condensed";
    font-size: 26px;
    text-transform: uppercase;
    margin-top: 10px;
    white-space: nowrap;

    &--common {
      margin-left: 100px;
      transition: all .2s linear;

      &.active {
        margin-left: 90px;
      }
    }

    &--mobTitle {
      opacity: 0;
    }
  }

  &__text {
    margin-top: 15px;
    padding: 0 5px;
  }

  &.hov:hover {
    transform: scale(1.1);
  }
}

// Personal Area ----------------
.check-notif {
  color: $grayColor;
  text-align: center;
  display: none;

  &__title {
    font-size: 21px;
    font-weight: 700;
  }

  &__desc {
    max-width: 400px;
    margin: 10px auto 0;
  }

  .verification,
  .successful {
    display: none;
  }

  &.successful {
    display: block;

    .successful {
      display: block;
    }
  }

  &.verification {
    display: block;

    .verification {
      display: block;
    }
  }
}

// Winners Page ------------
.winners {

  &__table {
    height: 280px;
    overflow-y: scroll;
    margin-top: 55px;
  }
}

// Product Page ------------
.product {

  .swiper-slide {
    height: auto;
  }

  &__swiper {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &__card {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  &__photo {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0 25px;

    img {
      width: 100%;
    }
  }

  &__title {
    font-family: "Roboto Condensed";
    color: $mainColor;
    font-size: 21px;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
  }

  &__descrip {
    margin-top: 10px;
    padding: 0 40px;
  }

  &__weight {
    margin-top: 20px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
  }

  .swiper-pagination {
    position: static;
    transform: translate(0) !important;
    margin: 50px auto 0;
  }

  .swiper-pagination-bullet {
    background-color: #e6e6e6;
    opacity: 1;
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    background-color: #ed1846;
  }

  .swiper-button-prev,
  .swiper-button-next {
    outline: none;
    width: 82px;
    height: 82px;
    background-size: 82px;
    top: 125px;

    &.swiper-button-disabled {
      opacity: 1;
      cursor: pointer;
      pointer-events: visible;
    }
  }

  .swiper-button-prev {
    background-image: url("../img/product-arr-left.svg");
    left: -20px;
  }

  .swiper-button-next {
    background-image: url("../img/product-arr-right.svg");
    right: -20px;
  }
}

// Prize Page ----------------
.prize {
  text-align: center;

  &__attempts {
    color: $mainColor;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 495px;
    margin: 30px auto 0;
    justify-content: space-between;
  }

  .js-prize-photo {
    transition: all .2s linear;
    opacity: 1;
  }

  .js-prize-photo-500,
  .js-prize-photo-200,
  .js-prize-photo-smartphone,
  .js-prize-photo-no{
    opacity: 0;
    transition: all .2s linear;
    position: absolute;
  }

  &__card {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    cursor: pointer;
    width: 19%;
    position: relative;
    overflow: hidden;

    &.js-prize-500 {

      .js-prize-photo {
        opacity: 0;
        position: absolute;
      }

      .js-prize-photo-500 {
        opacity: 1;
        position: static;
      }
    }

    &.js-prize-200 {

      .js-prize-photo {
        opacity: 0;
        position: absolute;
      }

      .js-prize-photo-200 {
        opacity: 1;
        position: static;
      }
    }

    &.js-prize-smartphone {

      .js-prize-photo {
        opacity: 0;
        position: absolute;
      }

      .js-prize-photo-smartphone {
        opacity: 1;
        position: static;
      }
    }

    &.js-prize-no {

      .js-prize-photo {
        opacity: 0;
        position: absolute;
      }

      .js-prize-photo-no {
        opacity: 1;
        position: static;
      }
    }

    &--width {
      width: 100%;
      align-items: center;
    }
  }
}

.how-prize {
  display: none;

  &.active {
    display: block;
  }
}

// For IE --------------
.scroll-element.scroll-x.scroll-scrollx_visible.scroll-scrolly_visible {
  display: none;
}