// Select ------------
body > .select2-container {
    width: auto !important;
}

.select2-container {
  width: 100% !important;
  outline: none;
  z-index: 99999;

  & * {
    outline: none;
  }

  .select2-selection {
    height: 51px;
    display: flex;
    align-items: center;
    border: 1px solid #0daad8;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 16px;
    font-family: "Roboto";
    padding: 15px 20px;
    border-radius: 0;
  }

  .select2-selection__rendered {
    padding-left: 0 !important;
  }

  .select2-selection__arrow b {
    display: none;
  }

  .select2-selection__arrow {
    height: 100% !important;
    width: 38px !important;

    &::before {
      border: none;
      background: url('../img/select-arr.svg') no-repeat center / cover;
      width: 15px;
      height: 9px;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .select2-dropdown {
    border: 1px solid #0daad8;
    border-top: none;
  }
  
  .select2-results__option {
    color: #4a4a4a;
  }
}

// Checkbox ------------
.checkbox {
  position: relative;
  padding: 7px 0;
  display: flex;
  flex-direction: column;

  input {
    position: absolute;
    z-index: -1;
    opacity: -2;
  }

  &__text {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    color: #4a4a4a;
    font-size: 12px;
    order: -1;

    a {
      color: #0e4da1;
    }

    &::before {
      content: '';
      position: absolute;
      height: 17px;
      width: 17px;
      border: 1px solid #0daad8;
      left: 0;
      top: -4px;
    }
  }
}

.checkbox input:checked + .checkbox__text:after {
  position: absolute;
  content: '';
  background: url("../img/checked.svg") no-repeat center / cover;
  width: 10px;
  height: 9px;
  left: 4px;
  top: 0;
}

.checkbox input:checked ~ .checkbox__text:after {
  position: absolute;
  content: '';
  background: url("../img/checked.svg") no-repeat center / cover;
  width: 10px;
  height: 9px;
  left: 4px;
  top: 0;
}

// Tabs
.tabs {
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
}

.nav-tabs {
  display: flex;
  justify-content: center;
}

.nav-tabs li {
  display: inline-block;
  min-width: 160px;
  padding: 20px 10px;
  background-color: #0daad8;
  text-align: center;
  border-radius: 25px 25px 0 0;
  font-size: 18px;
  transition: all .2s linear;
  cursor: pointer;

  &.active {
    background-color: #fff;
    color: #14bef0;
  }
}

.content-tabs-wrap {
  background-color: #fff;
  border-radius: 25px;
  padding: 60px 80px 40px;
}

.content-tabs {
  display: none;

  &.active {
    display: block;
  }
}

// Scroll
.scrollbar-light > .scroll-element .scroll-bar {
  background: $scrollButtonBg;
}

.scrollbar-light > .scroll-element.scroll-y .scroll-bar {
  width: 6px;
}

.scrollbar-light > .scroll-element .scroll-element_size {
  background: $scrollLineBg;
}

.scrollbar-light > .scroll-element.scroll-y .scroll-element_outer {
  width: 8px;
}