.footer {
  background-color: $footerBg;
  padding: 20px 0 5px;
  margin-top: 40px;

  &__nav {
    display: flex;
    flex-wrap: wrap;
    color: $mainColor;
    justify-content: center;

    li {
      position: relative;
      
      &::before {
        content: '';
        position: absolute;
        background-color: #f7ca11;
        height: 3px;
        width: 3px;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        left: -11px;
      }

      &:first-child::before {
        display: none;
      }

      & + li {
        margin-left: 20px;
      }
    }
  }

  &__logo {
    margin-top: 35px;
    text-align: center;
  }

  &__author {
    margin-top: 15px;
    font-size: 11px;
    color: $purpleColor;
    text-align: center;

    & > * + * {
      margin-top: 15px;
    }
  }
}