// Header
.header {
  background-color: $headerBg;
  padding: 27px 0;
  position: relative;
  z-index: 20;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger {
    display: none;
  }

  &__logoMini {
    display: none;
  }
}

.nav {
  display: flex;

  &__link {
    font-weight: 500;
    transition: all .1s linear;

    & + .nav__link {
      margin-left: 40px;
    }

    &:hover,
    &.active {
      color: $headerLinkHover;
    }
  }
}

.personal-area {

  &__info {
    position: relative;
    z-index: 2;
  }

  &__photo {
    margin-right: 7px;
  }

  &__text {
    font-weight: 500;

    &--blue {
      color: $blueColor;
    }
  }

  &__exit-btn {
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: $blueColor;
    border-bottom: 1px dashed $blueColor;

    &:hover {
      color: $blueColor;
    }
  }

  &__no-entry {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__entry {
    display: none;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background: url("../img/personal-area-bg.png") no-repeat center / cover;
      top: -27px;
      bottom: -46px;
      left: -20px;
      right: -20px;
    }
  }

  &.login {

    .personal-area__entry {
      display: block;
    }

    .personal-area__no-entry {
      display: none;
    }
  }
}