@media only screen and (max-width: 991px) {
  // Header Media ------------------
  .nav {

    &__link {
      font-size: 15px;

      & + .nav__link {
        margin-left: 25px;
      }
    }
  }

  .header {
    min-height: 60px;
    height: 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
  }

  .personal-area {

    &__entry {

      &::before {
        left: -10px;
        right: -10px;
      }
    }
  }

  // Index Page ------------------
  .slide-rules {

    &__photo {
      padding: 0 15px;
    }

    &__title {
      font-size: 18px;

      &--mobTitle {
        opacity: 1;
      }

      &--common {
        margin-left: 0;

        &.active {
          margin-left: 0;
        }
      }
    }

    &__text {
      font-size: 14px;
    }
  }

  // Product Page -------------------
  .product {

    &__photo {
      padding: 0 5px;
    }

    &__title {
      margin-top: 20px;
      font-size: 19px;
    }

    &__descrip {
      padding: 0 15px;
    }

    .swiper-button-prev,
    .swiper-button-next {
      width: 42px;
      height: 42px;
      background-size: 42px;
      top: 147px;
    }

    .swiper-button-prev {
      left: -10px;
    }

    .swiper-button-next {
      right: -10px;
    }
  }

  // Winners ----------------
  .winners {

    &__table {

      table {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {

  .body-bg-desktop {
    display: none;
  }

  // Winners ----------------
  .winners {

    &__table {
      margin-top: 35px;

      table {
        font-size: 12px;
      }
    }

    .table--padding {
      border-spacing: 4px;
      margin-top: -4px;
    }
  }

  // Header Media ------------------
  .start-section {
    justify-content: center;

    &__logo {
      display: none;
    }
  }

  .nav {
    position: absolute;
    right: 0;
    background-color: #00357c;
    padding: 35px 60px 35px 30px;
    flex-direction: column;
    transition: all .2s linear;
    top: 100%;
    transform: translateX(100%);

    &__link {
      font-size: 17px;

      & + .nav__link {
        margin-left: 0;
        margin-top: 30px;
      }
    }

    &.active {
      transform: translateX(0);
    }
  }

  .header {
    position: relative;

    &__burger {
      position: relative;
      display: block;
      cursor: pointer;

      &::before {
        position: absolute;
        content: '';
        width: 60px;
        height: 60px;
        background-color: #00357c;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      img {
        position: relative;
      }

      .js-show {
        opacity: 1;
        transition: all .2s linear;
        position: static;
      }

      .js-exit {
        position: absolute;
        opacity: 0;
        transition: all .2s linear;
        top: 0;
      }

      &.active {

        .js-show {
          opacity: 0;
          position: absolute;
          top: 0;
        }

        .js-exit {
          top: 0;
          position: static;
          opacity: 1;
        }
      }
    }

    &__logoMini {
      display: block;

      & + .header__logoMini {
        margin-left: 15px;
      }
    }
  }

  .personal-area {
    margin-right: 50px;
    margin-left: auto;

    &__text {
      display: none;
    }

    &__exit-btn {
      display: none;
    }

    &__photo {
      margin-right: 0;
    }

    &__entry {

      &::before {
        left: -24px;
        right: -24px;
        top: -21px;
        bottom: -30px;
      }
    }
  }

  // Index Page ------------------

  .js-hover {
    transform: scale(1) !important;
  }

  .rules-swiper {
    overflow: hidden;
  }

  .rules {

    &__wrap {
      flex-wrap: wrap;
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: block;
    }
  }

  .slide-rules {

    &--width {
      width: 49%;
      margin-top: 20px;
    }

    &__photo {
      padding: 0;
    }

    &__title {
      font-size: 22px;
    }

    &__text {
      font-size: 16px;
    }

    &.hov:hover {
      transform: scale(1);
    }
  }

  // Body Bg ----------------------
  body::after, body::before {
    display: none;
  }

  .body-bg {

    &__item {
      display: block;
      position: absolute;
      z-index: -1;

      &--1 {
        left: 0;
      }

      &--2 {
        left: 0;
      }

      &--3 {
        left: 10vw;
      }

      &--4 {
        left: 30vw;
      }

      &--5 {
        right: 30vw;
      }

      &--6 {
        right: 0;
      }

      &--7 {
        right: 0;
      }

      &--8 {
        right: 0;
      }

      &--9 {
        right: 0;
      }
    }
  }

  // Footer -------------------
  .footer {

    &__nav {
      flex-direction: column;
      align-items: center;

      li {

        & + li {
          margin-left: 0;
          margin-top: 15px;
        }

        &::before {
          top: -8px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  // Product Page -------------------
  .product {

    &__photo {
      height: 250px;
    }

    &__descrip {
      padding: 0 5px;
    }
  }

  // Def
  .substrate, .substrate--full {
    padding: 35px 20px 40px;
  }

  // Btn
  .btn {

    &--def {
      min-width: 250px;
    }
  }

  // Tabs ------------------------
  .content-tabs-wrap {
    padding: 35px 20px 40px;
  }

  // Personal Area Page -------------
  .personal-info {
    margin-top: 40px;

    .table {
      font-size: 14px;
      border-spacing: 8px;
    }
  }

  // PopUp ---------------------
  .popup {
    padding: 0 10px;

    &__wrap {
      padding: 40px 20px;
    }

    &__close {
      top: -33px;
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  // Captcha ------------------
  .captcha {
    margin: 20px -20px 0;
    padding: 15px 20px 20px;
  }

  // Cookie
  .cookies__text {
    width: 100%;
  }
}

@media only screen and (max-width: 479px) {

  // Index Page ------------------
  .home-title {

    &__desctop {
      display: none;
    }

    &__mob {
      display: inline-block;
    }
  }

  .slide-rules {

    &--width {
      width: 100%;
      margin-top: 0;

      & + .slide-rules--width {
        margin-top: 50px;
      }
    }

    &__title {
      font-size: 24px;
    }

    &__text {
      font-size: 16px;
    }
  }

  .rules {

    .swiper-button-prev {
      left: 0;
    }

    .swiper-button-next {
      right: 0;
    }

    .btn-wrap {
      margin-top: 50px;
    }
  }

  // Product Page -------------------
  .product {

    .swiper-pagination {
      display: none;
    }

    &__photo {
      height: 200px;
      padding: 0 25px;

      img {
        height: 100%;
        max-width: initial;
      }
    }

    &__descrip {
      padding: 0 15px;
    }
  }

  // Title ---------------
  .title {
    font-size: 28px;
  }

  // Winners ----------------
  .winners {

    &__table {
      height: 405px;
    }

    .form__card {
      margin-top: 0;
    }

    .table {

      tr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;

        & + tr {
          margin-top: 35px;
        }
      }

      .win-name {
        font-size: 21px;
      }

      .win-prize {
        font-size: 16px;
        position: absolute;
        right: 0;
        top: 0;
        text-align: right;
        max-width: 86px;
      }
    }
  }

  // Form ---------------------
  .form {
    flex-wrap: wrap;

    &__globalCard {
      width: 100%;
    }
  }

  // Feedback --------------------
  .feedback {

    .btn {
      font-size: 16px;
    }
  }

  // Prize -----------------
  .prize {

    &__card {
      width: 32%;

      img {
        width: 100%;
      }
    }
  }

  // Personal Area Page -------------
  .personal-info {

    .table {
      width: auto;
      margin: 20px auto 0;

      thead {
        display: none;
      }

      tr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;

        & + tr {
          margin-top: 45px;
        }

        td {
          margin-left: 80px;

          &:last-child {
            font-size: 16px;
          }
        }
      }

      .personal-num {
        font-size: 21px;
      }

      .personal-photo-check {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 0;
      }
    }
  }

  .nav-tabs li {
    min-width: 120px;
  }
}

@media only screen and (max-height: 767px) {
  // PopUp ---------------------
  .popup {
    justify-content: flex-start;
    overflow-y: scroll;

    &__wrap {
      margin-top: 80px;
      margin-bottom: 20px;
    }
  }
}