// Cookies -----------
.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $cookieBg;
  padding: 25px 0 20px;
  text-align: center;
  transition: all .2s linear;
  opacity: 0;
  z-index: -1;

  &__text {
    margin: 0 auto 10px;
    width: 76%;
    font-size: 14px;
  }

  &.js-show {
    opacity: 1;
    z-index: 99;
  }
}

// Popup -------------
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: all .2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  // Show
  &.js-popup-show {
    z-index: 99999;
    opacity: 1;
    transform: scale(1);
  }

  &__close {
    position: absolute;
    top: 0;
    right: -35px;
    width: 23px;
    height: 23px;
    cursor: pointer;
  }

  &__wrap {
    background-color: #fff;
    border-radius: 25px;
    max-width: 360px;
    width: 100%;
    padding: 35px 50px;
    position: relative;

    &--big {
      max-width: 500px;
    }
  }

  &__check {
    width: 220px;
    margin: 20px auto 0;
    position: relative;
  }

  &__check-photo {
    text-align: center;

    img {
      max-height: 280px;
      border: 5px solid #e6e6e6;
    }
  }

  &__del-photo {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  &__title {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-size: 28px;
    text-align: center;
    color: $mainColor;

    &--min {
      font-size: 21px;
      color: #4a4a4a;
      margin-bottom: 10px;
      margin-top: 40px;
    }
  }

  &__text {
    text-align: center;
    color: $grayColor;

    &--marginTop {
      margin-top: 30px;
    }
  }
}

// Iframe
#iframe {
  width: 100%;
  min-height: 600px;
}

// Error Validate
span div.error {
  color: #ed1846;
  font-size: 11px;
  margin-top: 3px;
}

.body-bg-desktop {
  position: fixed;
  top: 0;
  height: 200vh;
  width: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  transition: all .4s linear;

  &__item {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../img/leaves-left.png") repeat-y top left;

    &--right {
      background: url("../img/leaves-right.png") repeat-y top right;
    }
  }
}