// Reset ---------------
$font: 'Roboto';
$fontWeight: 400;
$fontSize: 16px;
$color: #fff;
$bgColor: #14bef0;

// Color ---------------
$mainColor: #14bef0;
$purpleColor: #46248a;
$grayColor: #4a4a4a;
$blueColor: #0e4da1;

// Scroll
$scrollButtonBg: #ed1846;
$scrollLineBg: #e6e6e6;

// Header -------------
$headerBg: #0e4da1;
$headerLinkHover: #14bef0;

// Cookies ----------
$cookieBg: #0e4da1;

// Button -----------
$btnDefBg: #ed1846;
$btnMinBg: #0daad8;
$btnDefBlueBg: #14bef0;

// Footer -----------
$footerBg: #fff;

// Link fonts
//$forn: http://test.airweb.studio/barni/fonts;